@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
	background: #e8e8e8;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	margin: 0;
	overflow: hidden;
  }
  
  @keyframes chatAnimation {
	0% {
	  opacity: 0;
	  transform: translateY(10px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  .chat-body .message {
	animation: chatAnimation 0.3s ease-in-out;
	animation-fill-mode: both;
  }
  
  .chat-body .message:nth-child(even) {
	animation-delay: 0.1s;
  }
  
  .chat-body .message:nth-child(odd) {
	animation-delay: 0.2s;
  }
  
  /* Estilizando a barra de rolagem */
  #chat::-webkit-scrollbar {
	width: 8px;
  }
  
  #chat::-webkit-scrollbar-track {
	background: #4b5563;
  }
  
  #chat::-webkit-scrollbar-thumb {
	background-color: #7BCBD5;
	border-radius: 10px;
  }
  
  #chat::-webkit-scrollbar-thumb:hover {
	background-color: #7BCBD5;
  }
  
  .sendMessage {
	color: #000;
  }

.title {
	font-family: "Amatic SC", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
}